/***** GENERAL *****/
* {
    box-sizing: border-box;
}

section {
    height: 800px;
}

/***** NAVBAR *****/
nav {
    background: #cdac81;
    width: fit-content;
    margin-left: 2%;
}
nav ul li {
    height: 6em;
    width: 6em;
    position: relative;
}
nav ul li a {
    color: #f5f4f4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/***** HEADER *****/
header {
    height: 800px;
    /* background: #00303f; */
    background: url("img/profile-hero.png") no-repeat center center fixed;
    background-size: cover;
}
header h1, h4 {
    color: #f5f4f4;
}
#hero-title {

}
