/***** GLOBAL *****/
* {
    box-sizing: border-box;
}

#profile, #portfolio, #skills, #contact {
    height: 800px;
    padding: 5% 15%;
}

header, #portfolio, #contact {
    height: 800px;
    background: url("img/profile-hero-800px.png") no-repeat center center fixed;
    background-size: cover;
}

/***** NAVBAR *****/
nav {
    background: #cdac81;
    width: fit-content;
    margin-left: 2%;
    border-radius: 10px;
}
nav ul li {
    height: 6em;
    width: 6em;
    position: relative;
}
nav ul li a {
    font-family: 'Poppins', sans-serif;
    color: #f5f4f4;
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

/***** HEADER SECTION *****/
header h1, h4 {
    color: #f5f4f4;
    margin-bottom: 10%;
}
header h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5rem;
}
header h4 {
    font-family: 'Michroma', sans-serif;
}
#hero-title {
    top: 30%!important;
}
header hr {
    color: #f5f4f4;
}


/***** PROFILE SECTION *****/
#profile h1 {
    font-family: 'Michroma', sans-serif;
}
#profile h3, h5, p, a, button {
    font-family: 'Poppins', sans-serif;
}
.profile-div-left {
    padding: 50px 0 50px 100px;
}
.profile-div-center {
    padding: 50px;
}
.profile-div-right {
    padding: 50px 100px 50px 0;
}
#profile a {
    text-decoration: none;
    background: #cdac81;
    color: black;
    border-radius: 10px;
    width: 100px;
}
#profile button {
    border: none;
    background: #cdac81;
    border-radius: 10px;
    width: 100px;
}
#bio-modal {
    margin-top: 5%;
}

/***** PORTFOLIO SECTION *****/
#portfolio h1 {
    font-family: 'Michroma', sans-serif;
    color: #f5f4f4;
}
#portfolio hr {
    color: #f5f4f4;
}
.project-div img {
    max-height: 200px;
    max-width: 325px;
}
.link-btn {
    text-decoration: none;
    color: #f5f4f4;
    font-size: 0.8rem;
    background: #cdac81;
    border-radius: 3px;
    text-align: center;
}

/***** SKILLS SECTION *****/


/***** CONTACT SECTION *****/
#contact {

}